/* Puedes agregar estilos globales a este archivo, y también importar otros archivos de estilos */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #f8f9fa 0%, #dee1e4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  height: 100%;
}

/* Mejorar apariencia de Material */
.mat-mdc-card {
  border-radius: 12px !important;
}

.mat-mdc-tab-group {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none;
}